@using Confidami.Common
@model Confidami.Model.Menu
<!-- navbar -->
<nav class="navbar navbar-default">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        @Html.ActionLink("Homepage", "Index", "Home", new object { }, new { @class = "navbar-brand" })

    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Segnalazioni<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                    <li>@Html.ActionLink("Tutte", ActionsStore.Contents, ControllerStore.Contents)</li>
                    <li>@Html.ActionLink("Inserisci", ActionsStore.ContentsInsert, ControllerStore.Contents)</li>
                    <li>@Html.ActionLink("Cerca", ActionsStore.Search, ControllerStore.Search)</li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Categorie<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                    @foreach (var cat in Model.Categories)
                    {
<<<<<<< HEAD
                        <li>@Html.ActionLink(cat.Description, ActionsStore.ContentsCategory, ControllerStore.Contents, new { id=cat.IdCategory, slug=cat.Slug },null)</li>
=======
                        <li>@Html.ActionLink(cat.Description, ActionsStore.ContentsCategory, ControllerStore.Contents+"/"+cat.Slug, new {cat.Slug},null)</li>                         
>>>>>>> origin/master
                    }
                </ul>
            </li>

            <li>@Html.ActionLink("Chi siamo", ActionsStore.About, ControllerStore.Home)</li>
            <li>@Html.ActionLink("Contatti", ActionsStore.Contact, ControllerStore.Home)</li>
            <li>@Html.ActionLink("Newsletter", ActionsStore.Newsletter, ControllerStore.Newsletter)</li>


            <!-- da spostare solo in area admin dopo login -->
            @if (User.IsInRole(RolesStore.AdminRole))
            {
                <li>@Html.ActionLink(@ViewsStore.Moderation, ActionsStore.Moderation, ControllerStore.Manager)</li>
            }            
        </ul>

        <!-- search box -->
        <form class="navbar-form navbar-right" role="search" action="/cerca" method="post" >
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Cerca" name="k">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Cerca</button>
        </form>                
        @*@Html.Partial("_LoginPartial")*@
    </div>

</nav>
<!-- end navbar -->