@using System.Web.UI.WebControls
@using Confidami.Common
@model Confidami.Web.ViewModel.PostViewModel


<div class="col-lg-12">
    <div class="row">
        <header>
            <h4>@ViewBag.Heding</h4>
        </header>
    </div>
</div>


@pages()
    @Html.Partial(ViewsStore.PostPartial,Model)
    @pages()

@helper  pages()
{
    if (ViewBag.NextPage == -1)
    {
        return;
    }

    <div class="row">

        <ul class="pager">
            <label>@ViewBag.CurrentPage di @ViewBag.NumberOfPages</label>
            <li @((bool)ViewBag.IsFirstPage ? "class=disabled" : "")>

            @if (!(bool)ViewBag.IsFirstPage)
            {
                if (ViewBag.IdCategory == null)
                 {
                     @Html.ActionLink("Precedente", ActionsStore.Contents, new {page = ViewBag.PreviuosPage})
                 }
                else
                {
                    @Html.RouteLink("Precedente", "CatRoute", new { id = ViewBag.IdCategory,page = ViewBag.PreviuosPage })
                }
                 
            }
            else
            {
                <a href="#" onclick="return false;">Precedente</a>
            }

            <li @((bool)ViewBag.IsLastPage ? "class=disabled" : "")>

            @if (!(bool)ViewBag.IsLastPage)
            {

                if (ViewBag.IdCategory == null)
                {
                    @Html.ActionLink("Successivo", ActionsStore.Contents, new { page = ViewBag.NextPage })
                }
                else
                {
                    @Html.RouteLink("Successivo", "CatRoute", new {page = ViewBag.NextPage })
                }
            }
            else
            {
                <a href="#" onclick="return false;">Successivo</a>
            }

        </ul>
    </div>
}
