@using System.Web.UI.WebControls
@using Confidami.Common
@using Confidami.Web.ViewModel
@model Confidami.Web.ViewModel.InsertPostViewModel

<div class="col-lg-12">
    <div class="row">
        <header>
            <h4>@ViewBag.Heding</h4>
        </header>
    </div>
</div>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#form-segnalazione" aria-controls="home" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-edit"></i> Compila</a></li>
        <li role="presentation">
            <a href="#attaccments-segnalazione" aria-controls="profile" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-paperclip"></i> Aggiungi allegati - &nbsp;<span id="maxFiles" class="text-info text-uppercase"></span></a>            
        </li>        
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="form-segnalazione">

            <form class="form-horizontal" role="form" action="@Url.Action("AddPost", "Contents")" method="post" @*data-parsley-validate*@>
                @*@Html.ValidationSummary(false)*@
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="title">Titolo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" name="title" placeholder="Titolo">
                    </div>
                </div>

                <div class="form-group" id="body">
                    <label class="col-sm-2 control-label" for="body">Messaggio</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="body" name="body" placeholder="Messaggio">
                    </div>
                </div>

                <div class="form-group" id="category">
                    <label class="col-sm-2  control-label" for="body">Categoria</label>
                    <div class="col-sm-10">
                        <select name="idcategory" class="form-control">
                            @foreach (var cat in Model.Categories)
                            {
                                <option value="@cat.IdCategory">@cat.Description</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Salva" class="btn btn-primary btn-sm" action=@Url.Action(ActionsStore.AddPost, ControllerStore.Contents)>
                    </div>
                </div>

            </form>

        </div>
        <div role="tabpanel" class="tab-pane" id="attaccments-segnalazione"> <!-- allgati -->


            <!-- drop zone area -->

            <div id="dropzone-actions" class="row">

                <div class="col-sm-12">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-xs btn-success fileinput-button dz-clickable">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Aggiungi</span>
                    </span>
                    <button type="submit" class="btn btn-xs btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Upload</span>
                    </button>
                    <button type="reset" class="btn btn-xs btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Annulla</span>
                    </button>                   
                    
                </div>
                
                <div class="col-sm-12" style="margin-top:10px">
                    <!-- The global file processing state -->
                    <span class="fileupload-process">
                        <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
                        </div>
                    </span>
                </div>

            </div>


            <!-- previews container -->
            <div class="table table-striped files" id="previews">                
                <div id="template" class="file-row">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <strong><i class="glyphicon glyphicon-file"></i>
                                <span class="" data-dz-name></span></strong>
                            &nbsp;-&nbsp;
                            <span data-dz-size></span>
                        </div>
                        <div class="panel-body">
                            <div class="preview">
                                <img data-dz-thumbnail class="dropzone-thumb-preview"/>
                            </div>
                            <div>
                                <strong class="error text-danger" data-dz-errormessage></strong>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-xs btn-primary start">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Upload</span>
                            </button>
                            <button data-dz-remove class="btn btn-xs btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Annulla</span>
                            </button>
                            <button data-dz-remove class="btn btn-xs btn-danger delete">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>Elimina</span>
                            </button>
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                            </div>

                        </div>
                    </div>

                </div>

            </div><!-- previews -->

        </div>        
    </div>

</div>
<script>
    var acceptedfiles = "@ViewBag.Acceptedfiles";
    var imageformats = @ViewBag.ImageFormats;
</script>
  
<!--------------------->
<!-- JS -->
@section scripts {
    <script type="text/javascript">    
        $(function () {
       
            var maxFiles = 4;
            var setMaxFilesLabel = function (uploaded) {
                $('#maxFiles').text(uploaded + ' di ' + maxFiles);
            };
            setMaxFilesLabel('0');

            var thumbnailWidth = 80;
            var thumbnailHeight = 80;
            $('.dropzone-thumb-preview').css({ 'width': thumbnailWidth + 'px', 'height': thumbnailHeight + 'px' })
            var previewNode = document.querySelector("#template");
            previewNode.id = "";
            var previewTemplate = previewNode.parentNode.innerHTML;
            previewNode.parentNode.removeChild(previewNode);

            var myDropzone = new Dropzone(document.body, {
                url: "@Url.Action(ActionsStore.Upload, ControllerStore.Contents)",
                maxFiles: maxFiles,
                maxFilesize: 2,
                thumbnailWidth: thumbnailWidth,
                thumbnailHeight: thumbnailHeight,
                parallelUploads: maxFiles,
                acceptedFiles: 'image/jpeg,image/jpg,image/png,image/gif,application/pdf,application/msword,text/plain',
                autoQueue: false, // Make sure the files aren't queued until manually added
                previewsContainer: "#previews", // Define the container to display the previews
                previewTemplate: previewTemplate,
                clickable: ".fileinput-button", // Define the element that should be used as click trigger to select files.
                init: function () {
                    loadattacchements();
                }
            });

            //Add file for upload
            myDropzone.on("addedfile", function (file) {

                console.log('Aggiunto in lista', file)

                file.previewElement.querySelector(".start").style.display = 'inline-block';
                file.previewElement.querySelector(".cancel").style.display = 'inline-block';

                file.previewElement.querySelector(".start").onclick = function () { //click upload file
                    myDropzone.enqueueFile(file);
                };
            });

            //Upload process x single file
            myDropzone.on("sending", function (file) {
                file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
                file.previewElement.querySelector(".progress-bar").style.visibility = "visible";
                $("#total-progress").css('opacity', '1');
            });

            //Upload complete
            myDropzone.on("success", function (file) {
                console.log('SUCCESS', file.status)

                if (file.status == 'success') {
                    myDropzone.options.maxFiles--;
                    setMaxFilesLabel((maxFiles - myDropzone.options.maxFiles));
                    //file.previewElement.querySelector(".cancel").setAttribute("disabled", "disabled");
                    file.previewElement.querySelector(".cancel").style.display = 'none';
                    file.previewElement.querySelector(".start").style.display = 'none';
                }
            });

            // Update the total progress bar
            myDropzone.on("totaluploadprogress", function (progress) {
                document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
                //$("#total-progress .progress-bar").css('width', progress + "%");
            });

            //Uloda completato per 1 o piu' file
            myDropzone.on("queuecomplete", function (progress) {
                $("#total-progress").css('opacity', '0');
            });

            //Upload all click
            $("#dropzone-actions .start").on('click', function () {
                myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
            });

            //Cancel all
            $("#dropzone-actions .cancel").on('click', function () {
                myDropzone.removeAllFiles(true);
                console.log('CANCELLARE TUTTI I FILE AJAX')
            });

            //Eliminazione singolo file CLICK su ANNULLA o TRASH  single item
            myDropzone.on("removedfile", function (file) {            
            
                if (file.hasOwnProperty('accepted') && !file.accepted) return;
            
                if (myDropzone.options.maxFiles < maxFiles) myDropzone.options.maxFiles++;

                setMaxFilesLabel((maxFiles - myDropzone.options.maxFiles));

                console.log('RM MAX ' + myDropzone.options.maxFiles)
            });

            //Load temp files
            function loadattacchements() {            

                var jqxhr = $.getJSON("/Contents/GetTempAttachMents", function () {

                }).done(function (attacchments) {
                    $.each(attacchments, function (key, attacchement) {

                        var extension = attacchement.Name.substr((attacchement.Name.lastIndexOf('.') + 1));
                        extensionList = ['jpg', 'jpeg', 'png', 'gif'];
                        if (extensionList.indexOf(extension) != -1) {

                            if (myDropzone.options.maxFiles < 1) return true; //limit reach

                            var objAttacchement = { name: attacchement.Name, size: attacchement.Size };

                            myDropzone.options.addedfile.call(myDropzone, objAttacchement);

                            console.log('Allegato ' + key, attacchement);
                            //Sistemare ulr thumb

                            //thumbUrl = urlFile.replace('.' + extension, '-thumb.' + extension);
                            var urlFile = attacchement.FullPath;
                            thumbUrl = urlFile;
                      
                            myDropzone.options.thumbnail.call(myDropzone, objAttacchement, thumbUrl);
                      
                            myDropzone.options.maxFiles--;
                            console.log('LEFT ' + myDropzone.options.maxFiles)
                            setMaxFilesLabel((maxFiles - myDropzone.options.maxFiles));                     
                        }
                    });

                

                }).fail(function (jqxhr, textStatus, error) {
                    var err = textStatus + ", " + error;
                    alert("GetTempAttacchMents Failed " + err);

                }).always(function () {} );
            };

        });
    </script>
}

@Styles.Render("~/Content/dropzonescss")